<div class="container my-4">
  <h3>Add a new list</h3>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Submit list", class: "btn btn-primary" %>
  <% end %>
</div>
